<h1>Edit Page</h1>

<form action="<%=sub_url(@sub)%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>
  <%= render 'form', sub: @sub%>
  <input type="submit" value="Edit Sub">
</form>
