<label>Title
  <input type="text" name="post[title]" value="<%=post.title%>">
</label>
<br>
<br>
<label>URL
  <input type="url" name="post[url]" value="<%=post.url%>">
</label>
<br>
<textarea name="post[content]"><%=post.content%></textarea>
