<h1>New Post</h1>
<form action="<%=sub_posts_url(@sub_id)%>" method="post">
  <%= auth_token %>
  <%= render 'form', post: @post %>
  <input type="submit" value="Post">
</form>

<%= link_to "Back", sub_url(@sub_id)%> 
